body
{
    text-align: center;
    background-color: #e4fbff;
}
ol,ul,table
{
    text-align: left;
}
div
{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #b8b5ff;
}
footer
{
    background-color: #b8b5ff;
    padding: 5rem auto;
}
img
{
    padding-bottom: 1rem;
}
a{
    color:crimson;
    font-size: larger;
}
.bold-link
{
    font-weight: bolder;
}